h1{
    text-align: center ;
    font-size: 25px;
    color: rgb(24, 11, 11);
}
body {h1
    background-color: rgba(0, 0, 0, 0) ;
}
.jogo {
    width: 20%;
}
.ini{
    background-image: url(rosamaria-brasil-volei-e1655149748304.jpg);
    padding: 5%;
}
.button{
display: inline-block;
padding: 10px 20px;
}